// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.btn {
  font-size: to-rem(16);
  font-weight: 600;
  line-height: 1;
  cursor: pointer;

  background: clr('neutral', 600);
  border: none;
  border-radius: to-rem(50);
  color: clr('neutral', 100);
  padding: to-rem(16) to-rem(24);

  &:hover {
    background: clr('neutral', 500);
  }

  @include breakpoint('large') {
    font-size: to-rem(18);
    padding: to-rem(19) to-rem(32);
  }

  &--pink {
    padding: to-rem(20) to-rem(38);
    background: clr('gradient', 'pink');

    &:hover {
      background: clr('gradient', 'white'), clr('gradient', 'pink');
    }

    @include breakpoint('large') {
      padding: to-rem(22) to-rem(32);
    }
  }

  &--violet {
    background: clr('gradient', 'violet');

    &:hover {
      background: clr('gradient', 'white'), clr('gradient', 'violet');
    }
  }
}
