// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  --padding-inline: #{to-rem(16)};

  @include breakpoint('small') {
    --padding-inline: #{to-rem(40)};
  }

  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding-inline), 1fr) [center-start]
    minmax(0, $max-width)
    [center-end] minmax(var(--padding-inline), 1fr) [full-end];

  & > * {
    grid-column: center;
  }
}

.grid-container {
  $padding-inline: to-rem(16);
  $num-grid: 12;

  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start]
    repeat(
      $num-grid,
      [col-start] minmax(0, calc(($max-width - ($num-grid - 1) * $padding-inline) / $num-grid))
        [col-end]
    )
    [center-end] 1fr [full-end];
  column-gap: $padding-inline;

  & > * {
    grid-column: center;
  }
}

.flex {
  display: flex;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
